.card-img {
  width: 100%;
  height: 300px;
}
body {
  background-color: rgb(102, 34, 10);
}

#cart {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  min-height: 100px;
  min-width: 50px;
  background-color: crimson;
}
